.cardMessage
{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    align-items: center;
   width: 350px;
   position: relative;
   z-index: 2;
}

.MessageButtonCard
{
    justify-content: center;
    width: auto;
    margin: auto;
   
}

.formDiv
{
    display: flex;
    margin: auto;
    margin-top: 25px;
    /* justify-content: center; */
    width: 200px;
}