.coverDiv
{
    height: 50vh;
    background-attachment: fixed;
    
}

.myCover
{
    background-color: rgb(241, 240, 248);
}

.stackBody {
    background-color: #0e0ee2;
    padding: 15px;
}

.textConnecter
{
    color: aliceblue;
   
    
}

.textConnecterBloc {
    justify-content: center;
    width: 450px; 
    color: white;
    margin-top: 60px;
    margin-Left: 3em;
    width: 400px;
    font-size: larger;
    height: 20px;
}