.AllUsers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px;
    background-color: black;
    color: aliceblue;
    width: 200px;
    height: 100%;

}

.userName {
    display: flex;
    background-color: rgb(9, 140, 216);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

}

.navBar {
    display: flex;
    margin: none;
    padding: 15px;
    color: aliceblue;
    border-bottom: solid 0.5px rgb(153, 150, 150);
    background-color: black;
    position: fixed;
    width: 100%;
}

.HomeSpan {
    display: flex;

    justify-content: center;
}

.cardUser {
    display: flex;
    flex-direction: rows;
    width: 100%;
 
}

.CardUserBlock
{
   margin: 20px; 
}